# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Executables
*.out
*.i*86
*.x86_64

.vagrant

# CMake-related files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CopyOfCMakeCache.txt
